<div class="container">
  <div class="row mt-5 mb-4">
    <div class="col-3">
　　　<h3 class="table-active">ジャンル一覧</h3>
    </div>
  </div>

  <div class='container px-5 px-sm-0'>
    <table class='table table-hover table-inverse'>

     <thead>
       <tr>
         <th>ジャンル名</th>
         <th>説明</th>
       </tr>
     </thead>

    <% @genres.each do |genre| %>
     <tbody>
      <tr>
        <td>
          <%= link_to genre_path(genre.id) do %>
          <%= genre.name %>
          <% end %>
        </td>
        <td>
          <%= genre.introduction %>
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>

  <%= paginate @genres %>
  </div>

</div>