<footer>
  <div class="container-xxl mt-5" style="background-color: #ffff99;">
    <div class="row">
      <div class="mx-auto">
        <p class="icon_green mb-1">Today's Gohan</p>
      </div>
    </div>
  </div>
</footer>